body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

@font-face {
  font-family: "OpenSans";
  src: url("./assets/fonts/Open_Sans/static/OpenSans/OpenSans-Regular.ttf");
}